.container {
    max-width: 945px;
    margin: 0 auto;
    padding: 0 15px;
}



.title {
    font-weight: 700;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.125rem);
    color: var(--black);



}

.text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;

    color: var(--black);
}

.button {}