.aboute {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

.aboute__container {}

.aboute__title {
    padding: 17px;
    font-family: var(--font-family);
    font-size: 34px;
    text-align: center;
    color: var(black);
}



.aboute__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--black);
    padding: 20px;
}

.text {}

.about__text_light {}