.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 400px;
    width: 100%;
    background-color: rgb(40, 129, 255);
    border-radius: 10px;
    padding-top: 50px;
    z-index: 100;
}

.dialog__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.dialog__form {
    display: grid;
    gap: 20px;

}

.dialog__input,
.dialog__message {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px blue
}



.dialog__message {
    height: 100px;
    resize: none;
}

.dialog__texteria {}

.dialog__send {
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    transition: box-shadow 0.3s;

}

.dialog__send:hover {
    box-shadow: 8px 11px 11px darkblue;
}

.dialog[open]+.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 99;
}