.hero {
    padding-top: 65px;
    padding-bottom: clamp(1.875rem, 0.5357rem + 6.6964vw, 6.5625rem);
}

.hero__container {}

.hero__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hero__content-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__title {
    font-size: clamp(1.625rem, 1.25rem + 1.875vw, 2.9375rem);
}

.hero__text {}

.hero__img {
    width: 100%;
}

/* lang-list */
.hero__lang-list {

    writing-mode: sideways-lr;
    display: none;

}



.lang-list__item {}

/* .lang-list__button-active {} */

.lang-list__button {
    font-weight: 400;
    font-size: 16px;

    color: #828282;
}

.lang-list__button:hover {
    color: blue;
}

.button-reset {}

/* burger */
.burger {
    position: relative;
    width: 33px;
    height: 20px;
    z-index: 100;

}


.burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s, top 0.3s, bottom 0.3s;
}

.burger__line_top {
    top: 0;
}

.burger__line_center {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_bottom {
    bottom: 0;
}

.burger_active .burger__line_top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger__line_bottom {
    bottom: 50%;
    transform: translateY(50%)rotate(-45deg);
}

.burger_active .burger__line_center {
    transform: scaleX(0);
}


@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .hero__lang-list {
        display: flex;
    }

    .hero__content-inner {
        display: contents;
    }

    .hero__content {
        align-items: end;
    }
}